Repository testinprod-io/optimism, pull requests merged in 2023-12, with the labels that each got.

#39 op-node: batch_decoder: Support Span Batch
  op-node/cmd/batch_decoder/README.md
  op-node/cmd/batch_decoder/main.go
  op-node/cmd/batch_decoder/reassemble/reassemble.go
  op-node/rollup/derive/batch_test.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/singular_batch.go
  op-node/rollup/derive/span_batch.go
  op-node/rollup/derive/span_batch_test.go
Labels: A-op-node

#43 span-batches: encode bitlists as big-endian integers, use standard Go…
  op-node/rollup/derive/span_batch.go
  op-node/rollup/derive/span_batch_txs.go
  op-node/rollup/derive/span_batch_util.go
  specs/span-batches.md
Labels: A-op-node, M-docs

#40 op-chain-ops: Delta checker script
  op-chain-ops/cmd/check-delta/aggregate-channels.sh
Labels: A-op-chain-ops, A-op-node

#41 op-chain-ops: Add derivation checker
  op-chain-ops/cmd/check-derivation/main.go
Labels: A-op-chain-ops

#42 op-node: Span batch Unprotected Tx Handling + Logic Error Fix
  op-node/rollup/derive/batch_test.go
  op-node/rollup/derive/span_batch.go
  op-node/rollup/derive/span_batch_test.go
  op-node/rollup/derive/span_batch_tx_test.go
  op-node/rollup/derive/span_batch_txs.go
  op-node/rollup/derive/span_batch_txs_test.go
  op-node/rollup/derive/span_batch_util.go
  op-service/testutils/random.go
  specs/span-batches.md
Labels: A-op-node, A-op-service, M-docs
